<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <title>Currency Converter</title>
    <div th:replace="./base/header :: header-css"/>
</head>
<body>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-6">
<div class="card">
<form>
    <div class="form-group">
        <label for="exampleInputEmail1" class="bmd-label-floating">Email address (two help blocks)</label>
        <input type="email" class="form-control" id="exampleInputEmail1"/>
        <span class="bmd-help">We'll never share your email with anyone else.</span>
        <span class="bmd-help">And this is probably from a second plugin showing in a non-optimal way</span>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1" class="bmd-label-floating">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1"/>
    </div>
    <button class="btn btn-default">Cancel</button>
    <button type="submit" class="btn btn-primary btn-raised">Submit</button>
</form>
</div>
            </div></div></div>
</body>
</html>