body,html{
    height:100%;
}

.datepicker-dropdown.dropdown-menu {
    transform: none;
    opacity: 1;
}

.convert-container {
    display: flex;
    justify-content: center;
    align-items: center;
 }


.currencies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 20px;
}

.currencies-middle {
    margin: 10px 0;
}

.navbar {
    justify-content: space-between;
}
.navbar-brand {
    align-items: center;
    justify-content: center;
    display: flex;
}

.navbar-brand > i {
    margin-right: 10px;
}